#aboutParent {
    font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color      : #323330;
    padding    : 10px;
}

#aboutParent h1 {
    font-size  : 3.5em;
    margin-left: 10px;
    text-align : center;
    color      : #323330;
    position   : relative;
}

#aboutParent h1::before {
    content         : "";
    background-color: #f7df1e;
    height          : 2px;
    position        : absolute;
    left            : 20%;
    right           : 60%;
    top             : 53%;
}

#aboutParent h1::after {
    content         : "";
    background-color: #f7df1e;
    height          : 3px;
    position        : absolute;
    left            : 60%;
    right           : 20%;
    top             : 53%;
}

#about {
    display        : flex;
    justify-content: space-evenly;
    flex-wrap      : wrap;
    align-items    : flex-start;
    margin-top     : 10px;
    color          : #323330;
}

#about .skImage {
    width        : 30vw;
    border       : 2px solid #f7de1e4e;
    padding      : 1px;
    border-radius: 15px;
    margin       : 30px 0;

}

#about .aboutTabs {
    width : 60vw;
    margin: 30px 0;
}

/* ///////////////////////////////////self - start/////////////////////////////////// */

#about #self {
    font-family: "Nunito";
    color      : #323330;

}

#about h2 {
    font-size: 2em;
}

#about #self h3 {
    padding-bottom: 20px;
    border-bottom : 2px solid #3233301b;
}

#about #self h5 {
    color           : #323330;
    background-color: #f7de1e51;
    font-family     : "Roboto Mono";
    display         : inline-block;
    border-radius   : 3px;
    padding         : 3px 5px;
    font-size       : 0.688em;
    margin-bottom   : 10px;
}

#about p {
    font-size: 1.1em;
    margin   : 10px 0;
}

#about #self a {
    text-decoration : none;
    background-color: #f7df1e;
    color           : #323330;
    font-weight     : 900;
    padding         : 15px 18px;
    border-radius   : 10px;
}

/* ///////////////////////////////////self - end/////////////////////////////////// */

/* ///////////////////////////////////education - start/////////////////////////////////// */

#about #education {
    font-family: "Nunito";
    color      : #323330;

}

#about #education .educationCard {
    border         : 2px solid #32333022;
    border-radius  : 10px;
    padding        : 20px;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-items    : flex-start;
    margin         : 10px 0;
}

#about #education .educationCard .avatar {
    display   : inline-block;
    min-width : 70;
    min-height: 70;
}

#about #education .educationCard h2 {
    border-bottom : 2px solid #32333011;
    padding-bottom: 10px;
    margin-bottom : 10px;
    font-size     : 1.5em;
    max-width     : 600px;
}

#about #education .educationCard h2 a {
    text-decoration: none;
    color          : #323330;

}

#about #education .educationCard h3 {
    font-weight: normal;
}

#about #education .educationCard .date {
    color  : #32333088;
    padding: 0;
    margin : 0;
}

#about #education .educationCard .other {
    margin-top: 0;
}

/* ///////////////////////////////////education - end/////////////////////////////////// */

/* ///////////////////////////////////skills - start/////////////////////////////////// */

#about #skills {}

#about #skills .cards {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
}

#about #skills .cards .card {
    height       : 200px;
    width        : 350px;
    border       : 4px solid #f7df1e33;
    border-radius: 10px;
    margin       : 10px;
}

#about #skills .cards .card h2 {
    background-color: #f7df1e;
    color           : #323330;
    padding         : 10px;
    border-radius   : 10px 10px 0 0;
}

#about #skills .cards .card .progress {
    padding: 10px;
}

#about #skills .cards .card .progress>span {
    display      : block;
    height       : 25px;
    border-radius: 25px;
    padding      : 0;
    border       : 2px solid #32333022;
}

#about #skills .cards .card .progress span span {
    display         : block;
    width           : 50%;
    height          : 21px;
    border-radius   : 25px;
    background-color: #f7df1e;
}

/* ///////////////////////////////////skills - end/////////////////////////////////// */